.small-mar-top{
	margin-top:30px;
}

.vacancies{
	padding:10px 0 50px;
	margin-top:50px;
	width:100%;
	background: #f1f2fa;
}

.vacancies-card{
	background: white;
	height:225px;
	width:100%;
	padding:20px 0 0 25px;
}

.place{
	color:#2d2d2d;
	font-size: 16px;
	font-family:'Century Gothic';
}

.more{
	color: #284ecd;
	font-size: 16px;
	font-family:'Century Gothic';
	cursor:pointer;
}

.city{
	color: #373737;
	font-size: 20px;
	font-family:'Century Gothic Bold';
}

.street{
	color: #373737;
	font-size: 16px;
	font-family:'Century Gothic';
}

.e-mail{
	color: #284ecd;
	font-size: 16px;
	font-family:'Century Gothic';
	cursor:pointer;
}

.burger{
	float:right;
	display: none;
}

.burger-open{
	float:right;
	display: none;
	margin-top:-20px;
}

.mar-left{
	margin-left: -20px;
}
