.grey-color{
	color:#545454 !important;
}

.grey-color a{
	color:#545454 !important;
}

.main-black-color{
	color:#2d2d2d !important;
}

.opacity-grey-color{
	color:#252525 !important;
}

.tittle-color{
	color:#373737;
}

.acent-color{
	background: #284ecd;
}

.acent-text-color{
	color: #284ecd !important;
}

.acent-text-color a{
	color: #284ecd !important;
}

.grey-position-color{
	color:#696969;
}

.white-color{
	background:white;
}

.white-text-color{
	color:white;
}

.opacity-blue{
	background: #8998c7;
}

.grey-back{
	background:#e5e6e5;
}

.footer-color{
	color:#a4a4a4;
}