@font-face {
  font-family:'Century Gothic';
  src: url('../fonts/GOTHIC.ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family:'Yeseva One';
  src: url('../fonts/YESEVAONE-REGULAR.ttf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family:'Century Gothic Bold';
  src: url('../fonts/GOTHICB.ttf');
  font-weight: normal;
  font-style: normal;

}
