.partners-tittle{
	font-size: 24px;
	font-family:'Yeseva One';
	color:#2d2d2d;
}

.partners-text{
	font-size: 14px;
	font-family:'Century Gothic';
	color:#2d2d2d;
}

.nearest-tittle{
	margin-top: 5px;
	color:#373737;
	font-size: 24px;
	font-family:'Yeseva One';
}

.nearest-text{
	margin-top: 20px;
	color:#373737;
	font-size: 16px;
	font-family:'Century Gothic';
}

.coment-person-name{
	margin-top: 30px;
	font-size: 24px;
	color:#373737;
	font-family:'Yeseva One';
}

.coment-person-position{
	font-size: 14px;
	color:#696969;
	font-family:'Century Gothic';
}

.clock{
	color:#696969;
	font-size:18px;
	font-family:'Century Gothic';
}

.name-of-event{
	color:#252525;
	font-size:18px;
	font-family:'Century Gothic';
}
.micro-text p{
	margin-top:10px;
	font-size:12px;
	font-family:'Century Gothic';
	color:#252525;
}

.duration{
	color:#696969;
	font-size:18px;
}

.price-card-tittle{
	font-size: 24px;
	color:#2d2d2d;
	font-family:'Century Gothic';
}

.block-number{
	color:#2d2d2d;
	font-size:24px;
	font-family:'Yeseva One';
}


.answer-block-tittle{
	font-family:'Yeseva One';
	color:#373737;
	font-size:48px;
	text-align: left;
}

.not-answer{
	font-family:'Century Gothic';
	color:#696969;
	font-size:16px;
	margin-top: 30px;
}

.about-tittle{
	margin-top: 20px;
	font-size:48px;
	font-family:'Yeseva One';
	color:#373737;
}

.description{
	font-size:16px;
	font-family:'Yeseva One';
	color:#373737;
}

h3{
	font-family:'Century Gothic';
	font-size: 24px;
	margin-top:40px;
}

h2{
	font-family:'Yeseva One';
	font-size: 24px;
	margin-top:10px;
}

.vacancies-card-tittle{
	font-size: 20px;
	color:#284ecd;
	font-family:'Century Gothic';
}

.review-tittle{
	font-family:'Yeseva One';
}

.map-tittle{
	margin-bottom:20px;
	font-size: 16px;
	font-family:'Century Gothic';
	margin-bottom:20px;
}

.map-tittle-city{
	cursor:pointer;
	font-size: 12px !important;
	color:#284ecd;
	font-family:'Century Gothic' !important;
	margin-left:20px;
}

.map-active{
	color:#373737;
}

.nav-line-map{
	position:relative;
	width:20px;
	height:1px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	transition:0.5s;
}

.last-tittle{
	font-size: 24px;
	font-family:'Century Gothic';
	color:#373737;
	margin-top:70px;
	padding-bottom: 70px;
}

.economy{
	color:#41c3ac;
	font-size: 18px;
	font-family:'Century Gothic';
	margin-top:20px;
	margin-left: -20px;
}

a{
	color:#545454;
	border-width:0;
	text-decoration:none;
}

a:focus, a:hover {
    color: #545454 !important;
    text-decoration: none !important;
}
