html { overflow-x: hidden; }
body { overflow-x: hidden; }

.preloader-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 10000;
	background-color: #6793cc;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.preloader-wrapper .preloader-content{
	width: 100%;
	text-align: center;
}
.preloader-wrapper .logo{
	height: 25px;
	display: block;
	margin: 0 auto;
}
.preloader-wrapper .text-container{
	position: relative;
	width: 600px;
	margin: 0 auto;
}
.preloader-wrapper .text{
	color: rgba(153, 153, 204, 1);
	font-family: "Century Gothic";
	font-size: 24px;
	position: absolute;
	top: 0;
	z-index: 100001;
}
.preloader-wrapper .text#text-bright{
	z-index: 100002;
	color: white;
	overflow: hidden;
	max-width: 0px;
	white-space: nowrap;

}



body{
	background: #fbfbfb;
}

button{
	padding: 0;
    background: none;
    border: none;
}



@font-face {
    font-family:'Century Gothic';
    src: url('../fonts/GOTHIC.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'Yeseva One';
    src: url('../fonts/YESEVAONE-REGULAR.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:'Century Gothic Bold';
    src: url('../fonts/GOTHICB.ttf');
    font-weight: normal;
    font-style: normal;

}

.photo{
	width:100%;
}

/*Navigatiom*/

header{
	margin-top: 30px;
}

.nav-buttons>span{
	font-family:'Century Gothic';
	float:left;
	font-size:12px;
	margin:1px;
	cursor:pointer;
}

.nav-line{
	position:relative;
	width:0;
	height:1px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	transition:0.5s;
	margin-top: 15px;
}
.nav-buttons>span:hover .nav-line{
	width:40%;
}

@media screen and (max-width: 800px) {
    .nav-buttons > span {
        float: none;
    }
    .nav-buttons {
        display: block;
        width: 100%;
    }
}



/*Video Block*/

.white-back {
    background: rgba(255,255,255,0);
}

.telephone>.nav-line{
	position:relative;
	width:22%;
	height:1px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	transition:0.5s;
	margin-top:49px;
}

.blue-back{
	float:left;
	position: absolute;
	width:852.2px;
	height:637px;
	background: rgba(40,78,205,0.5);
	transition: 0.5s;
	cursor:pointer;
}

.play{
	position: relative;
	top:42.5%;
	left:72.5%;
}

.main-video{
	margin-left: -487px;
	overflow:hidden;
	transition: 0.5s;
	width:958px;
	height: 633px;
}

.near-video{
	padding:0;
}

.near-video-tittle{
	font-family:'Yeseva One';
	font-size:48px;
	padding:50px 0 0 0;
}
.telephone{
	font-family:'Century Gothic';
	font-size:30px;
	color:black;
	padding:50px 0 0 0;
}

.techno-trust{
	font-family:'Century Gothic';
	padding:100px 0 0 0;
	font-size:16px;
}

.logo-partners{
	margin-top:30px;
}

.logos{
	margin-top:40px;
}

.performer{
	position:absolute;
	width:15px;
	height:15px;
	background-image:url('../img/performer.png');
	top:200px;
	left:408px;
}
.doers{
	position:absolute;
	width:15px;
	height:15px;
	background-image:url('../img/doers.png');
	top:175px;
	left:305px;
}
.pasagers{
	position:absolute;
	width:15px;
	height:15px;
	background-image:url('../img/pasagers.png');
	top:140px;
	left:190px;
}
.problem-makers{
	position:absolute;
	width:15px;
	height:15px;
	background-image:url('../img/problem-makers.png');
	top:215px;
	left:35px;
}



/*content-block*/

.content{
	margin-top:100px;
}

.quote>.nav-line{
	position:relative;
	width:30%;
	height:5px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	margin-top: 15px;
}

#quote0{
	transition: 0.5s;
}

.quote-text{
	font-family:'Century Gothic';
	margin-top:20px;
	font-size:16px;
	transition:0.5s;
}

.block-tittle{
	font-family:'Yeseva One';
	color:#373737;
	font-size:36px;
	text-align: right;
}

.full-height{
	height:100%;
}

.small-bot-text{
	margin-top:35px;
	margin-left:-15px;
	font-size: 20px;
	color:white;
	font-family:'Century Gothic';
	line-height: 1.7;
}

.more-button{
	margin-top:35px;
	font-size:14px;
	font-family:'Century Gothic';
	padding: 5px 10px 5px 10px;
	border-width: 1px;
	border-style:solid;
	border-color:#284ecd;
	border-radius:20px;
	float:left;
}

/*person-slider*/

.person-slider{
	margin-top:100px;
}

.person-name{
	font-family:'Yeseva One';
	font-size: 24px;
}

.person-position{
	font-family:'Century Gothic';
	color:#696969;
	font-size:14px;
}

.person-slider-buttons{
    margin-top: 25px;
    margin-bottom: 15px;
}

#person-photo{
	padding-top:75px;
	background-image: url("../img/Jobs.png");
	background-repeat: no-repeat;
	background-position: 85% 100%
}

.after-img{
	font-family:'Century Gothic';
	float:left;
	margin-top:50px;
	font-size:16px;
}



/* types of employee*/

.truck{
	font-family:'Century Gothic';
	margin-top:50px;
	font-size:16px;
}

.truck-photo{
	float:left;
}

.truck-text{
	font-family:'Century Gothic';
	float:left;
	margin-top:50px;
	margin-left:40px;
}

.about{
	font-family:'Century Gothic';
	float:left;
	margin-top:50px;
	color:#284ecd;
	font-size: 20px;
}

.perf-win{
	color:#373737;
	position:absolute;
	width:150px;
	left:-65px;
	top:-150px;
	display:none;
	text-align: center;
	background: white;
	transition:0.5s;
	padding:5px;
	display:none;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(55, 50, 50, 0.61);
-moz-box-shadow:    0px 0px 27px 0px rgba(55, 50, 50, 0.61);
box-shadow:         0px 0px 27px 0px rgba(55, 50, 50, 0.61);
}

.doers-win{
	color:#373737;
	position:absolute;
	width:150px;
	left:-65px;
	top:-200px;
	display:none;
	text-align: center;
	background: white;
	transition:0.5s;
	padding:5px;
	display:none;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	-moz-box-shadow:    0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	box-shadow:         0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	transition: 0.5s;
}

.pas-win{
	color:#373737;
	position:absolute;
	width:200px;
	left:-95px;
	top:-220px;
	display:none;
	text-align: center;
	background: white;
	transition:0.5s;
	padding:5px;
	display:none;
	-webkit-box-shadow: 0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	-moz-box-shadow:    0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	box-shadow:         0px 0px 27px 0px rgba(55, 50, 50, 0.61);
	transition: 0.5s;
}

.performer:hover .perf-win{
	display:block;
}

.doers:hover .doers-win{
	display:block;
}

.pasagers:hover .pas-win{
	display:block;
}

.problem-makers:hover .pas-win{
	display:block;
}

.pas-win h6{
	font-size:16px;
	font-family:'Century Gothic';
}

.pas-win p{
	font-size:12px;
	font-family:'Century Gothic';
}


.doers-win h6{
	font-size:16px;
	font-family:'Century Gothic';
}

.doers-win p{
	font-size:12px;
	font-family:'Century Gothic';
}



.perf-win h6{
	font-size:16px;
	font-family:'Century Gothic';
}

.perf-win p{
	font-size:12px;
	font-family:'Century Gothic';
}



/* Seminars */

.seminar{
	float:left;
}

.seminar-mar{
	margin-top:50px;
}

.seminar>.nav-line{
	position:relative;
	width:100%;
	height:1px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	transition:0.5s;
	margin-top:5px;
}

.seminar-tittle{
	font-family:'Century Gothic';
	margin-top:20px;
	font-size:20px;
	color:black;
	transition:0.5s;
	cursor:pointer;
}

.seminar-tittle:hover{
	color:#284ecd;
}

.seminar-photo{
	margin-top:20px;
	float:left;
}

.seminar-person{
	margin-top:20px;
	margin-left:10px;
	float:left;
}

.seminar-person-name{
	font-family:'Century Gothic';
	font-size: 16px;
}

.seminar-person-position{
	font-family:'Century Gothic';
	font-size: 14px;
	color:#696969;
}


.seminar-place{
	float:left;
	margin-left:100px;
	margin-top:20px;
}

.seminar-geo{
	font-family:'Century Gothic';
	font-size: 16px;
}

.seminar-time{
	font-family:'Century Gothic';
	font-size: 14px;
	color:#696969;
}

.seminar-price{
	font-family:'Century Gothic';
	font-size: 16px;
	margin-top:20px;
	margin-left:80px;
	float:left;
}




/*Main programm*/

.main-programm{
	color:white !important;
	background: #3b54a1;
	width:100%;
	padding:20px;
	margin-left: 15px;
}

.content-main-programm{
	border-style:solid;
	border-width:10px;
	border-color:white;
	width:100%;
	height:100%;
	padding:40px;
	padding-top: 33px;
}

.main-programm-tittle{
	font-family:'Yeseva One';
	color:white;
	font-size:48px;
	line-height: 1.27em;
}

.main-programm-text{
	font-family:'Century Gothic';
	margin-top:19px;
	color:white;
	font-size:16px;
	line-height: 28px;
}

.main-programm-card{
	margin-top:158px;
	color:white !important;
	height:50px;
}

.main-programm-about{
	font-family:'Century Gothic';
	margin-top:65px;
	color:white;
	font-size: 20px;
}

.main-programm-seminar-person-position{
	font-family:'Century Gothic';
	font-size: 14px;
	color:white;
}

.main-programm-seminar-place{
	float:left;
	margin-left:20px;
	margin-top:20px;
}

.main-programm-seminar-time{
	font-family:'Century Gothic';
	font-size: 14px;
	color:white;
}

.main-programm-seminar-price{
	font-family:'Century Gothic';
	font-size: 16px;
	margin-top:20px;
	margin-left:20px;
	float:left;
}

.main-programm-line{
	position:relative;
	width:100%;
	height:1px;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:white;
	margin-top:5px;
}



/*reviews*/

.reviews{
	margin-top:100px;
}

.reviews-text{
	font-family:'Century Gothic';
	font-size:16px;
	margin-top:50px;
}

.reviews-slider{
	margin-top:50px;
}

.cards-review{
	margin-top: 20px;
}

.review-person-name{
	font-family:'Century Gothic';
	font-weight: bold;
	color:black;
	font-size: 16px;
	width: 200px;
	margin-top: -13px;
}
.review-video .play{
	position: absolute;
    top: 71px;
    left: 143px;
}
.review-person-position{
	font-family:'Century Gothic';
	color:#696969;
	font-size: 14px;
	width: 200px;
	margin-top: 5px;
}

.review-video{
	margin-left:-20px;
	position: relative;
}

.review-about{
	font-family:'Century Gothic';
	margin-top:57px;
	color:#284ecd;
	font-size: 20px;
}




/*Answer*/

.faq{
	margin-top: 165px;
}

.answer-tittle{
	font-family:'Yeseva One';
	font-size: 24px;
	margin-top:20px;
}

.answer-mar{
	margin-top:50px;
}




/*Cards*/
.big-card{
	float:left;
	cursor:pointer;
	width:100%;
	height:350px;
	background: white;
	-webkit-box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	-moz-box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	transition:0.5s;
}
.big-card:hover{
	margin-left: 10px;
	-webkit-box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
	-moz-box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
	box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
}


.small-card{
	cursor:pointer;
	width:45%;
	height:350px;
	float:left;
	background: white;
	-webkit-box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	-moz-box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	box-shadow: -24px 21px 43px -23px rgba(0,0,0,0.29);
	transition: 0.5s;
}

.small-card:hover{
	-webkit-box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
	-moz-box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
	box-shadow: -24px 21px 43px 3px rgba(0,0,0,0.29);
}

.small-card:hover .card-mar-top{
	margin-top: 40px;
}

.small-card-mar{
	margin-left: 10%;
}

.card-tag{
	font-family:'Century Gothic';
	color:#696969;
	font-size:14px;
	margin-top:10px;
	margin-left:10px;
}

.card-tittle{
	font-family:'Century Gothic';
	font-size:16px;
	margin-top:10px;
	margin-left:10px;
}

.card-info{
	font-family:'Century Gothic';
	margin-left:10px;
	border-style: solid;
	border-color:#e5e6e5;
	border-width: 1px 0 0 0;
	padding:10px 0 10px 0;
	margin-top: 30px;
	width:100%;
	height:60px;
}

.card-views{
	color:#696969;
	float:left;
}

.card-comment{
	color:#696969;
	float:left;
}

.card-likes{
	color:#696969;
	float:left;
}

.card-mar-l{
	margin-left: 15px;
}

.max-photo-size{
	width:100%;
}

.card-mar-top{
	margin-top: 50px;
}

.card-about{
	float:left;
	margin-top:50px;
	color:#284ecd;
	font-size: 20px;
	font-family: 'Century Gothic';
	margin-bottom: 137px;
}



/*Footer*/
footer{
	padding-top:160px;
	background: #1e1e23;
	height: 506px;
	font-family: 'Century Gothic';

}

footer p{
	color:#999999;
	font-size:14px;
}

.telephone-foot{
	font-size:30px;
	color:white;
}

.foot-padding{
	padding: 0 30px 0 30px;
}

.foot-margin{
	margin-top:120px;
}

.foot-input{
	font-family:'Century Gothic';
	float:left;
	padding:5px 0 15px 0;
	background: none;
	border-width: 0 0 1px 0;
	border-style:solid;
	border-color:#284ecd;
	color:#999999;
	transition: 0.5s;
}

.foot-input:focus{
	border-width: 0 0 1px 0;
	border-color:#284ecd;
	outline:none;
}

.foot-buton{
	padding:10px 20px 10px 20px;
	border-radius:20px;
	color:white;
	background:#284ecd;
	float:left;
	margin-left:20px;
}


.card-review {
	margin-top: 12px;
}

.video-slider-item:nth-child(1) .card-review {
	margin-left: -1px;
}

.video-slider-item:nth-child(2) .card-review {
	margin-left: 80px;
}

.video-slider-item:nth-child(3) .card-review {
	margin-left: 162px;
}
.video-slider-item > div {
    margin-top: 15px;
}

img.wp-post-image{
	float:right;
}
