#technology .vebinar-tittle{
	margin-top: 64px;
	margin-left: -23px;
}

#technology .subtitle{
	font-family:'Century Gothic';
	font-size: 20px;
	color: white;
	margin-left: -23px;
	margin-top: 35px;
    line-height: 1.78;
}
#technology .header-form{
    margin-top: -12px;
    margin-left: -41px;
}
#technology .ad-section{
	margin-top: 148px;
}
#technology .ad-section .block-tittle{
	line-height: 1.3;
}

#technology .quote{
    margin-top: 15px;
    margin-left: -29px;
}
#technology .quote-text{
    margin-top: -10px;
    margin-left: -4px;
    line-height: 1.7;
}
p.monitor-container {
	position: relative;
	margin-top: 50px;
}
.monitor-container #monitor{
	position: absolute;
	top: 31px;
}

.two-trees{
	position: relative;
}
.two-trees span{
	display: inline-block;
	float: right;
	position: absolute;
	top: 0;
}
.star-text{
	font-size: 20px;
	color:#252525;
	font-family:'Century Gothic';
	margin-top: 40px;
}

.center-tittle{
	font-size: 24px;
	color:#373737;
	font-family:'Century Gothic';
	text-align: center;
}

.left-tittle{
	font-size: 24px;
	color:#373737;
	font-family:'Century Gothic';
	text-align: left;
}

ul li::before {
margin-bottom: 10px;
}

.iceberg{
	background: url('../img/Iceberg.png');
	width:100%;
	height:1400px;
}

.iceberg-tittle{
	color:#252525;
	font-size: 24px;
	font-family:'Yeseva One';
	margin-top:40px;
}

.iceberg-text{
	color:#252525;
	font-size: 14px;
	font-family:'Century Gothic';
	margin-top:20px;
}

.mega-mar-top{
	margin-top: 200px;
}

.bot{
	color:white !important;
}

.ice-top{
	margin-top: 50px !important;
}

.post-exaples-tittle{
	font-size: 16px;
	color:#252525;
	font-family:'Century Gothic';
	float:left;
	margin-top: 20px;
}

.post-exaples{
	font-size: 16px;
	color:#284ecd;
	font-family:'Century Gothic';
	float:right;
	margin-right:15px;
	margin-top: 20px;
	padding-bottom:20px;
	cursor: pointer;
	margin-left: 33px;
}

.active-example{
	font-size: 16px;
	color:#252525;
	font-family:'Century Gothic';
	margin-top: 20px;
}

.circle-back{
	width:100%;
	background: url(../img/circle.png) repeat-y;
}
